<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>{{LanData?.common.settings}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <!-- Toggles in a List -->
  <ion-list>

    <ion-item>
      <ion-label>{{LanData?.setting.changeLanguage}}</ion-label>
      <ion-select value="en" okText="OK" cancelText="Cancel" [(ngModel)]="lanValue" (ngModelChange)="select()">
        <ion-select-option value="en">English</ion-select-option>
        <ion-select-option value="zh-jt">简体中文</ion-select-option>
        <ion-select-option value="zh-ft" disabled="true">繁体中文 (not ready)</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label>Setting2</ion-label>
      <ion-toggle [(ngModel)]="sausage" disabled="true"></ion-toggle>
    </ion-item>

    <ion-item>
      <ion-label>Setting3</ion-label>
      <ion-toggle [(ngModel)]="mushrooms" disabled="true"></ion-toggle>
    </ion-item>
  </ion-list>
</ion-content>