<ion-app>
  <ion-split-pane>

    <ion-menu>
      <ion-header>
        <ion-toolbar>
          <ion-title>{{LanData?.common.menu}}</ion-title>
        </ion-toolbar>
      </ion-header>
      <ion-content>

        <ion-list>
          <ion-menu-toggle auto-hide="false">
            <ion-item routerLink="/home">
              <ion-icon slot="start" name="home"></ion-icon>
              <ion-label>{{LanData?.common.home}}</ion-label>
            </ion-item>
          </ion-menu-toggle>
          <ion-menu-toggle auto-hide="false">
            <ion-item routerLink="/play/{{sudoPlay.playId}}">
              <ion-icon slot="start" name="logo-game-controller-b"></ion-icon>
              <ion-label>{{LanData?.common.sudoku}}</ion-label>
            </ion-item>
          </ion-menu-toggle>
          <ion-menu-toggle auto-hide="false">
            <ion-item routerLink="/rank">
              <ion-icon slot="start" name="podium"></ion-icon>
              <ion-label>Rank</ion-label>
            </ion-item>
          </ion-menu-toggle>
          <ion-menu-toggle auto-hide="false">
            <ion-item routerLink="/setting">
              <ion-icon slot="start" name="settings"></ion-icon>
              <ion-label>{{LanData?.common.settings}}</ion-label>
            </ion-item>
          </ion-menu-toggle>
          <ion-menu-toggle auto-hide="false">
            <ion-item routerLink="/about">
              <ion-icon slot="start" name="information-circle"></ion-icon>
              <ion-label>{{LanData?.common.about}}</ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>

        <!-- <ion-list>
          <ion-list-header>
            Tutorial
          </ion-list-header>
          <ion-menu-toggle auto-hide="false">
            <ion-item button (click)="openTutorial()">
              <ion-icon slot="start" name="hammer"></ion-icon>
              <ion-label>Show Tutorial</ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list> -->
      </ion-content>
    </ion-menu>

    <ion-router-outlet main></ion-router-outlet>

  </ion-split-pane>

</ion-app>