<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Play</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="game-header">
    <ion-row>
      <ion-col size="6" text-left>
        Easy
      </ion-col>
      <ion-col size="6" text-right>
        {{showTime}}
      </ion-col>
    </ion-row>
  </div>
  <div class="container">
    <div class="number-content">
      <div *ngFor="let s of numArr" class="number-s" [ngClass]="{'line-b-s': s % 3 != 0, 'line-b-m': s % 3 == 0 && s != 9}">
        <div *ngFor="let h of numArr" class="number-item" [ngClass]="{'line-r-s': h % 3 != 0, 'line-r-m': h % 3 == 0 && h != 9, 'num-tip-bg': soduShow.tipNumberIndexes.indexOf(s * 10 + h) > -1}">
          <div class="num" *ngIf="seeIfBlank(s * 10 + h)" (click)="checkSomeNumbers(soduArr[s * 10 + h])">
            {{soduEditArr[s * 10 + h]}}
          </div>
          <div class="num num-empty" *ngIf="!seeIfBlank(s * 10 + h)" [ngClass]="{'active': soduShow.editNumber == s * 10 + h, 'error': errorArr.indexOf(s * 10 + h) > -1}" (click)="setShowEditNumber(s * 10 + h)">
            {{soduEditArr[s * 10 + h]}}
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="game-bottom">
    <div class="number-btns">
      <ion-button class="num-btn" *ngFor="let number of numArr" (click)="clickEditNumber(number)" [disabled]="soduShow.editNumber == null">{{number}}</ion-button>
    </div>
    <div class="tools-btns" text-center>
      <ion-button class="tool-btn num-clear" (click)="clearEditNumber()" [disabled]="soduShow.editNumber == null">
        <ion-icon src="assets/svg/clear.svg"></ion-icon>
        <!-- <ion-icon name="close" class="clear-btn"></ion-icon> -->
      </ion-button>
      <ion-button class="tool-btn num-clear">
        <ion-icon src="assets/svg/small.svg"></ion-icon>
      </ion-button>
    </div>
    <div class="game-btns" text-center>
      <ion-button (click)="newGame()">New Game</ion-button>
      <!-- <ion-card (press)="itemPressed($event)"></ion-card> -->
    </div>
  </div>
</ion-content>