<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Play</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [ngClass]="{'show': soduShow.soduReady}">
  <div class="game-header">
    <ion-row>
      <ion-col size="6" text-left>
        {{soduData.nowMode}} {{soduData.mode[soduData.nowMode]}}
      </ion-col>
      <ion-col size="6" text-right>
        {{soduShow.showTime}}
      </ion-col>
    </ion-row>
  </div>
  <div class="container">
    <div class="number-content">
      <div *ngFor="let s of numArr"
           class="number-s"
           [ngClass]="{'line-b-s': s % 3 != 0, 'line-b-m': s % 3 == 0 && s != 9}">
        <div *ngFor="let h of numArr"
             class="number-item"
             [ngClass]="{'line-r-s': h % 3 != 0, 'line-r-m': h % 3 == 0 && h != 9, 'num-tip-bg': soduShow.tipNumberIndexes.indexOf(s * 10 + h) > -1}">
          <div class="num" *ngIf="seeIfBlank(s * 10 + h)"
               (click)="checkSomeNumbers(soduData.soduArr[s * 10 + h])">
            {{soduData.soduPlayArr[s * 10 + h]}}
          </div>
          <div class="num num-empty"
               *ngIf="!seeIfBlank(s * 10 + h)"
               [ngClass]="{'active': soduShow.playNumber == s * 10 + h, 'error': soduData.errorArr.indexOf(s * 10 + h) > -1}"
               (click)="setShowPlayNumber(s * 10 + h)">
            <div *ngIf="!seeIfBlankBoard(s * 10 + h)">
              {{soduData.soduPlayArr[s * 10 + h]}}
            </div>
            <div class="small-con" *ngIf="seeIfBlankBoard(s * 10 + h)">
              <div class="small-number" *ngFor="let n of numArr"
                   [ngClass]="{'active': seeIfBlankBoardNumber(s * 10 + h, n)}">
                {{n}}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="game-bottom">
    <div class="number-btns">
      <ion-button class="num-btn"
                  *ngFor="let number of numArr"
                  (click)="clickPlayNumber(number)"
                  [disabled]="soduShow.playNumber == null">
        {{number}}
      </ion-button>
    </div>
    <div class="tools-btns" text-center>
      <ion-button class="tool-btn"
                  (click)="clearPlayNumber()"
                  [disabled]="soduShow.playNumber == null">
        <ion-icon src="assets/svg/clear.svg" icon-only></ion-icon>
      </ion-button>
      <ion-button class="tool-btn small-btn"
                  (click)="setThisEditBoardStatus()"
                  [disabled]="soduShow.playNumber == null">
        <ion-icon src="assets/svg/small-no.svg"
                  [ngClass]="{'active': !seeIfShowSmallBtn()}" icon-only></ion-icon>
        <ion-icon src="assets/svg/small-yes.svg"
                  [ngClass]="{'active': seeIfShowSmallBtn()}" icon-only></ion-icon>
      </ion-button>
    </div>
    <div class="game-btns" text-center>
      <ion-button (click)="newGame()">New Game</ion-button>
      <!-- <ion-card (press)="itemPressed($event)"></ion-card> -->
    </div>
  </div>
</ion-content>