:host {
  display: block;
  width: 100%;
}

ion-content {
  opacity: 0;
  transition: all 1.5s;

  &.show {
    opacity: 1;
  }
}

.game-header {
  padding: 1vh 2vw 0.2vh;
  height: 34px;
  font-size: 12px;

  .star-item {
    margin-right: 2px;
    color: var(--ion-color-services);
    transition: all .5s;

    &.hide {
      display: none;
    }
  }
}

.number-content {
  border: 4px solid #333;
  width: 96vw;
  height: 96vw;
  margin-left: 2vw;

  .number-s {
    width: 100%;
    height: calc(100% / 9);

    &.line-b-s {
      border-bottom: 1px solid #999;
    }

    &.line-b-m {
      border-bottom: 2px solid #666;
    }

    .number-item {
      float: left;
      width: calc(100% / 9);
      height: 100%;
      font-size: 7vw;
      color: #333;
      transition: all .3s;

      &.line-r-s {
        border-right: 1px solid #999;
      }

      &.line-r-m {
        border-right: 2px solid #666;
      }

      &.num-tip-bg {
        background: rgba(0, 0, 0, .07);
      }

      .num {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: all .3s;
      }

      .num-empty {
        color: var(--ion-color-primary);
        // background: rgba(255, 255, 255, .5);

        &.active {
          position: relative;
          outline: 2px solid var(--ion-color-primary);
          background-color: rgba(255, 255, 255, .5);
          box-shadow: 0 0 10px 2px var(--ion-color-primary);
        }

        &.error {
          position: relative;
          color: var(--ion-color-danger);
          -webkit-animation: quiver 6s linear infinite backwards;
          -moz-animation: quiver 6s linear infinite backwards;
          animation: quiver 6s linear infinite backwards;

          &.active {
            outline: 2px solid var(--ion-color-danger);
            box-shadow: 0 0 10px 2px var(--ion-color-danger);
          }
        }

        .small-con {
          width: 100%;
          height: 100%;
          // background: rgba(0, 0, 0, .05);
        }

        .small-number {
          color: #888;
          float: left;
          width: calc(100% / 3);
          height: calc(100% / 3);
          font-size: 2.8vw;
          display: flex;
          justify-content: center;
          align-items: center;

          &.small-r-l {
            border-right: 1px dotted #ddd;
          }

          &.small-b-l {
            border-bottom: 1px dotted #ddd;
          }

          span {
            opacity: 0;

            &.active {
              opacity: 1;
            }
          }

        }
      }
    }
  }
}

.game-bottom {
  display: flex;
  flex-wrap: wrap;
  height: calc(100vh - 100vw - 48px - 34px);
  align-items: center;
}

.number-btns {
  width: 96vw;
  margin-left: 2vw;
  overflow: hidden;
}

.num-btn {
  float: left;
  width: calc(100% / 9);
  height: 8vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 9vw;
  margin: 0;
  --background: none;
  --box-shadow: none;
  --border-radius: 0;
  --color: #333;
  --color-activated: #333;
  --ripple-color: #ccc;
  --padding-end: unset;
  --padding-start: unset;

  &[disabled] {
    --background: none;
  }
}


.tools-btns {
  width: 96vw;
  margin-left: 2vw;
  overflow: hidden;

  .tool-btn {
    width: calc(100% / 5);
    height: 8vh;
    font-size: 0;
    margin: 0;
    --background: none;
    --box-shadow: none;
    --border-radius: 0;
    --color: #333;
    --color-activated: #333;
    --ripple-color: #ccc;
    --padding-end: unset;
    --padding-start: unset;

    &[disabled] {
      --background: none;
    }

    ion-icon {
      font-size: 10vw;
      color: #666;
    }

    &.small-btn {
      ion-icon {
        display: none;

        &.active {
          display: block;
        }
      }
    }
  }
}

.game-btns {
  width: 96vw;
  margin-left: 2vw;
  overflow: hidden;
}

.pause-mask {
  position: absolute;
  top: calc(34px);
  width: 100%;
  height: calc(100% - 34px - 2px);
  background: #fff;
}

@media (min-width: 500px) {
  .number-content {
    width: 80vw;
    height: 80vw;
    margin-left: 10vw;
  }
}

@media (min-width: 700px) {
  .number-content {
    width: 70vw;
    height: 70vw;
    margin-left: 15vw;
  }
}

@media (min-width: 992px) {
  .number-content {
    width: 62vw;
    height: 62vw;
    margin-left: 5vw;
  }
}

@keyframes quiver {
  3% {
    -webkit-transform: scale3d(1, 1, 1) rotate3d(0, 0, 1, -10deg);
    transform: scale3d(1, 1, 1) rotate3d(0, 0, 1, -10deg);
  }

  4%,
  6%,
  8%,
  10% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 10deg);
    transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 10deg);
  }

  5%,
  7%,
  9% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -10deg);
    transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -10deg);
  }

  11% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}