<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home" text=""></ion-back-button>
    </ion-buttons>
    <ion-title>Rank</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding [scrollY]="false">
  <div class="rank-con">
    <div class="rank-item" *ngFor="let rankItem of rankData">
      <div class="rank-left">
        <span class="rank-index">{{rankItem?.rankIndex}}</span>
        <span class="rank-name">{{rankItem?.name}}</span>
      </div>
      <div class="rank-right">
        <span class="rank-star-num">{{rankItem?.starterStar}}</span>
        <ion-icon src="assets/svg/star-full.svg" class="rank-star-icon" color=""></ion-icon>
      </div>
    </div>
  </div>
</ion-content>