<ion-content>
  <div>
    <ion-back-button defaultHref="home" text="Home"></ion-back-button>
  </div>
  <h2 text-center>{{gameName}}</h2>
  <div text-center *ngIf="continueButton">
    <ion-button (click)="continueSodu()">
      <ion-icon slot="start" name="logo-game-controller-b"></ion-icon>
      <ion-label>Continue</ion-label>
    </ion-button>
  </div>
  <div *ngFor="let hard of hardModeName" text-center>
    <ion-button (click)="goToSodu(hard)">
      <ion-icon slot="start" name="logo-game-controller-b"></ion-icon>
      <ion-label>{{hard}}</ion-label>
    </ion-button>
  </div>
</ion-content>